.landing-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}

.welcome-text {
  text-align: center;
}
