.create-profile-container {
  max-width: 50rem;
  margin: auto;

  .form-group:first-child {
    margin-top: 0;
  }

  .form-group {
    margin: 0.8rem 0;

    .form-label {
      display: block;
      margin-bottom: 0.2rem;
    }

    textarea {
      display: block;
      width: 100%;
      height: auto;
      padding-inline-start: 0.3rem;
      font-size: 1.1rem;
      border: 1px solid #000;
      border-radius: 0.3rem;
    }

    input {
      display: block;
      width: 100%;
      max-width: 17rem;
      height: 2.2rem;
      padding-inline-start: 0.3rem;
      font-size: 0.9rem;
      border: 1px solid #000;
      border-radius: 0.3rem;
    }

    .form-item:focus {
      outline: none;
    }
  }

  .submit-btn {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    background: #1c99aa;
    color: #fff;
  }

  .submit-btn:focus {
    outline: none;
  }
}
